!!! 5
%html
  %head
    %title EQUINOX Personal Trainer App
    = csrf_meta_tags

  %body
    - flash.each do |type, msg|
      %div{ :class => type }
        = msg

    - if logged_in?
      Welcome, #{current_user.name}
      = link_to 'Log out', logout_url

    = yield
